@import "tailwindcss";

 html {
    scroll-behavior: smooth;
  }
  
:root {
  --midnight-blue-2: #132433;
  --slate-grey: #546681;
  --orange: #ffb607;
  --white: white;
  --common-green: #00d38c;
  --black: black;
  --dark-slate-grey: #2e3642;
  --midnight-blue: #001632;
  --background: #0a1b2b;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-barlow), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a1b2b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--white);
  font-family: Arial, Helvetica, var(--font-barlow), sans-serif;
}

@keyframes navbarEnter {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0) scale3d(0.95, 0.95, 1) rotateX(5deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

.navbar-animate {
  animation: navbarEnter 0.8s ease-out forwards;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-slide {
  opacity: 0; /* ensures it's hidden before animation */
  transform: translate3d(-25px, 0, 0);
  animation: fadeSlide 1s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}
.delay-400 {
  animation-delay: 0.4s;
}
.delay-600 {
  animation-delay: 0.6s;
}


